*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root{
  --container-width: 1170px;
  --column-space: 10px;
  --column-small: 5px;
}

.container{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--column-space);
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(0px - var(--column-space));
  margin-right: calc(0px - var(--column-space));
}

.row.row-small{
  margin-left: calc(0px - var(--column-small));
  margin-right: calc(0px - var(--column-small));
}

.row.row-collapse{
  margin: 0;
}

.col{
  padding: 0 var(--column-space);
}

.row.row-small .col{
  padding: 0 var(--column-small);
}

.row.row-collapse .col{
  padding: 0;
}

.row.row-space .col{
  padding-bottom: calc(2 * var(--column-space));
}

.row.row-space-small .col{
  padding-bottom: calc(2 * var(--column-small));
}

.row.row-center{
  justify-content: center;
}

.row.row-start{
  justify-content: flex-start;
}

.row.row-end{
  justify-content: flex-end;
}

.row.row-column{
  flex-direction: column;
}

.col-1{
  max-width: calc(100% / (12 / 1));
  flex-basis: calc(100% / (12 / 1));
}

.col-2{
  max-width: calc(100% / (12 / 2));
  flex-basis: calc(100% / (12 / 2));
}

.col-3{
  max-width: calc(100% / (12 / 3)); /*100% / (12/3)*/
  flex-basis: calc(100% / (12 / 3));
}

.col-4{
  max-width: calc(100% / (12 / 4));
  flex-basis: calc(100% / (12 / 4));
}

.col-5{
  max-width: calc(100% / (12 / 5));
  flex-basis: calc(100% / (12 / 5));
}

.col-6{
  max-width: calc(100% / (12 / 6));
  flex-basis: calc(100% / (12 / 6));
}

.col-7{
  max-width: calc(100% / (12 / 7));
  flex-basis: calc(100% / (12 / 7));
}

.col-8{
  max-width: calc(100% / (12 / 8));
  flex-basis: calc(100% / (12 / 8));
}

.col-9{
  max-width: calc(100% / (12 / 9));
  flex-basis: calc(100% / (12 / 9));
}

.col-10{
  max-width: calc(100% / (12 / 10));
  flex-basis: calc(100% / (12 / 10));
}

.col-11{
  max-width: calc(100% / (12 / 11));
  flex-basis: calc(100% / (12 / 11));
}

.col-12{
  max-width: calc(100% / (12 / 12));
  flex-basis: calc(100% / (12 / 12));
}

@media all and (min-width: 576px){
  .col-sm-1{
      max-width: calc(100% / (12 / 1));
      flex-basis: calc(100% / (12 / 1));
  }
  
  .col-sm-2{
      max-width: calc(100% / (12 / 2));
      flex-basis: calc(100% / (12 / 2));
  }
  
  .col-sm-3{
      max-width: calc(100% / (12 / 3)); /*100% / (12/3)*/
      flex-basis: calc(100% / (12 / 3));
  }
  
  .col-sm-4{
      max-width: calc(100% / (12 / 4));
      flex-basis: calc(100% / (12 / 4));
  }
  
  .col-sm-5{
      max-width: calc(100% / (12 / 5));
      flex-basis: calc(100% / (12 / 5));
  }
  
  .col-sm-6{
      max-width: calc(100% / (12 / 6));
      flex-basis: calc(100% / (12 / 6));
  }
  
  .col-sm-7{
      max-width: calc(100% / (12 / 7));
      flex-basis: calc(100% / (12 / 7));
  }
  
  .col-sm-8{
      max-width: calc(100% / (12 / 8));
      flex-basis: calc(100% / (12 / 8));
  }
  
  .col-sm-9{
      max-width: calc(100% / (12 / 9));
      flex-basis: calc(100% / (12 / 9));
  }
  
  .col-sm-10{
      max-width: calc(100% / (12 / 10));
      flex-basis: calc(100% / (12 / 10));
  }
  
  .col-sm-11{
      max-width: calc(100% / (12 / 11));
      flex-basis: calc(100% / (12 / 11));
  }
  
  .col-sm-12{
      max-width: calc(100% / (12 / 12));
      flex-basis: calc(100% / (12 / 12));
  }
}

@media all and (min-width: 768px){
  .col-md-1{
      max-width: calc(100% / (12 / 1));
      flex-basis: calc(100% / (12 / 1));
  }
  
  .col-md-2{
      max-width: calc(100% / (12 / 2));
      flex-basis: calc(100% / (12 / 2));
  }
  
  .col-md-3{
      max-width: calc(100% / (12 / 3)); /*100% / (12/3)*/
      flex-basis: calc(100% / (12 / 3));
  }
  
  .col-md-4{
      max-width: calc(100% / (12 / 4));
      flex-basis: calc(100% / (12 / 4));
  }
  
  .col-md-5{
      max-width: calc(100% / (12 / 5));
      flex-basis: calc(100% / (12 / 5));
  }
  
  .col-md-6{
      max-width: calc(100% / (12 / 6));
      flex-basis: calc(100% / (12 / 6));
  }
  
  .col-md-7{
      max-width: calc(100% / (12 / 7));
      flex-basis: calc(100% / (12 / 7));
  }
  
  .col-md-8{
      max-width: calc(100% / (12 / 8));
      flex-basis: calc(100% / (12 / 8));
  }
  
  .col-md-9{
      max-width: calc(100% / (12 / 9));
      flex-basis: calc(100% / (12 / 9));
  }
  
  .col-md-10{
      max-width: calc(100% / (12 / 10));
      flex-basis: calc(100% / (12 / 10));
  }
  
  .col-md-11{
      max-width: calc(100% / (12 / 11));
      flex-basis: calc(100% / (12 / 11));
  }
  
  .col-md-12{
      max-width: calc(100% / (12 / 12));
      flex-basis: calc(100% / (12 / 12));
  }
}

@media all and (min-width: 992px){
  .col-lg-1{
      max-width: calc(100% / (12 / 1));
      flex-basis: calc(100% / (12 / 1));
  }
  
  .col-lg-2{
      max-width: calc(100% / (12 / 2));
      flex-basis: calc(100% / (12 / 2));
  }
  
  .col-lg-3{
      max-width: calc(100% / (12 / 3)); /*100% / (12/3)*/
      flex-basis: calc(100% / (12 / 3));
  }
  
  .col-lg-4{
      max-width: calc(100% / (12 / 4));
      flex-basis: calc(100% / (12 / 4));
  }
  
  .col-lg-5{
      max-width: calc(100% / (12 / 5));
      flex-basis: calc(100% / (12 / 5));
  }
  
  .col-lg-6{
      max-width: calc(100% / (12 / 6));
      flex-basis: calc(100% / (12 / 6));
  }
  
  .col-lg-7{
      max-width: calc(100% / (12 / 7));
      flex-basis: calc(100% / (12 / 7));
  }
  
  .col-lg-8{
      max-width: calc(100% / (12 / 8));
      flex-basis: calc(100% / (12 / 8));
  }
  
  .col-lg-9{
      max-width: calc(100% / (12 / 9));
      flex-basis: calc(100% / (12 / 9));
  }
  
  .col-lg-10{
      max-width: calc(100% / (12 / 10));
      flex-basis: calc(100% / (12 / 10));
  }
  
  .col-lg-11{
      max-width: calc(100% / (12 / 11));
      flex-basis: calc(100% / (12 / 11));
  }
  
  .col-lg-12{
      max-width: calc(100% / (12 / 12));
      flex-basis: calc(100% / (12 / 12));
  }
}

@media all and (min-width: 1200px){
  .col-xl-1{
      max-width: calc(100% / (12 / 1));
      flex-basis: calc(100% / (12 / 1));
  }
  
  .col-xl-2{
      max-width: calc(100% / (12 / 2));
      flex-basis: calc(100% / (12 / 2));
  }
  
  .col-xl-3{
      max-width: calc(100% / (12 / 3)); /*100% / (12/3)*/
      flex-basis: calc(100% / (12 / 3));
  }
  
  .col-xl-4{
      max-width: calc(100% / (12 / 4));
      flex-basis: calc(100% / (12 / 4));
  }
  
  .col-xl-5{
      max-width: calc(100% / (12 / 5));
      flex-basis: calc(100% / (12 / 5));
  }
  
  .col-xl-6{
      max-width: calc(100% / (12 / 6));
      flex-basis: calc(100% / (12 / 6));
  }
  
  .col-xl-7{
      max-width: calc(100% / (12 / 7));
      flex-basis: calc(100% / (12 / 7));
  }
  
  .col-xl-8{
      max-width: calc(100% / (12 / 8));
      flex-basis: calc(100% / (12 / 8));
  }
  
  .col-xl-9{
      max-width: calc(100% / (12 / 9));
      flex-basis: calc(100% / (12 / 9));
  }
  
  .col-xl-10{
      max-width: calc(100% / (12 / 10));
      flex-basis: calc(100% / (12 / 10));
  }
  
  .col-xl-11{
      max-width: calc(100% / (12 / 11));
      flex-basis: calc(100% / (12 / 11));
  }
  
  .col-xl-12{
      max-width: calc(100% / (12 / 12));
      flex-basis: calc(100% / (12 / 12));
  }
}

@media all and (min-width: 1400px){
  .col-xxl-1{
      max-width: calc(100% / (12 / 1));
      flex-basis: calc(100% / (12 / 1));
  }
  
  .col-xxl-2{
      max-width: calc(100% / (12 / 2));
      flex-basis: calc(100% / (12 / 2));
  }
  
  .col-xxl-3{
      max-width: calc(100% / (12 / 3)); /*100% / (12/3)*/
      flex-basis: calc(100% / (12 / 3));
  }
  
  .col-xxl-4{
      max-width: calc(100% / (12 / 4));
      flex-basis: calc(100% / (12 / 4));
  }
  
  .col-xxl-5{
      max-width: calc(100% / (12 / 5));
      flex-basis: calc(100% / (12 / 5));
  }
  
  .col-xxl-6{
      max-width: calc(100% / (12 / 6));
      flex-basis: calc(100% / (12 / 6));
  }
  
  .col-xxl-7{
      max-width: calc(100% / (12 / 7));
      flex-basis: calc(100% / (12 / 7));
  }
  
  .col-xxl-8{
      max-width: calc(100% / (12 / 8));
      flex-basis: calc(100% / (12 / 8));
  }
  
  .col-xxl-9{
      max-width: calc(100% / (12 / 9));
      flex-basis: calc(100% / (12 / 9));
  }
  
  .col-xxl-10{
      max-width: calc(100% / (12 / 10));
      flex-basis: calc(100% / (12 / 10));
  }
  
  .col-xxl-11{
      max-width: calc(100% / (12 / 11));
      flex-basis: calc(100% / (12 / 11));
  }
  
  .col-xxl-12{
      max-width: calc(100% / (12 / 12));
      flex-basis: calc(100% / (12 / 12));
  }
}