html {
  font-size: $fontSize;
}

body {
  font-size: 1rem;
  color: $textColor;
  line-height: 1.5;
  font-family: $fontFamily;
}

a {
  color: $linkColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  color: $headingColor;
}

p {
  margin-bottom: 15px;
}
