@mixin vertical-middle($top: 50%) {
  position: absolute;
      top: $top;
      transform: translateY(-50%);
}

@mixin arrow-button ($background: #fff, $color: #333, $border:none) {
  display: block;
  width: 40px;
  height: 40px;
  background: $background;
  color: $color;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: $border;
}

@mixin section-base($space: 30px) {
  padding: $space 0;
}

@mixin center($width) {
  margin: 0 auto;
  width: $width;
}

@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}