$primaryColor: #808640;

$secondaryColor: #242424;

$fontSize: 14px;

$textColor: #777777;

$fontFamily: Lato, sans-serif;

$linkColor: #403c34;

$headingColor: #2c2922;

$white: #fff;

$headerMobile: 65px;

// breakpoint 
$mobile-width: 739px;

$tablet-width-min: 1024px;
$tablet-width-max: 1023px;

$pc-width: 1024px;