.contact-box {
  @include section-base;
  .contact-box__inner {
    padding-left: 10px;
    padding-right: 10px;
    .contact-box__item {
      padding: 0;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .contact-box__form {
      height: 100%;
      background: #808640;
      color: #fff;
      padding: 35px;

      h2 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 200;
        color: #fff;
        margin-bottom: 43px;
      }

      input {
        width: 100%;
        padding: 13px 9px 14px 50px;
        font-size: 0.85rem;
        &::placeholder {
          color: #3a3a3a;
          text-transform: uppercase;
        }
      }

      .form-input {
        margin-bottom: 22px;
        position: relative;

        &::before {
          content: "";
          display: block;
          float: left;
          width: 25px;
          height: 25px;
          position: absolute;
          color: #333;
          left: 14px;
          top: 10px;
        }

        // map
        $icons: (username: 'user-icon.png', email: 'email-icon.png', phone: 'phone-contact.png');
        @each $name,$image in $icons {
          &.#{$name}::before {
            content: "";
            background: url("../images/"+$image) no-repeat;
          }
        }

      }
    }
    .contact-box__bg {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .contact-box__footer {
      display: flex;
      .contact-box__submit {
        color: #fff;
        background: $secondaryColor;
        padding: 16px;
        margin-right: 10px;
        text-transform: uppercase;
        font-weight: 400;
        word-spacing: 3px;
        letter-spacing: 2px;
        cursor: pointer;
      }
      .contact-box__hotline {
        display: flex;
        &::before {
          content: "";
          display: block;
          width: 31px;
          height: 31px;
          background: url("../images/hotline-icon-contact.png") no-repeat;
          margin-top: 10px;
          margin-right: 10px;
        }
        span {
          display: block;
          text-transform: uppercase;

          &:first-child {
            color: $white;
            font-size: 0.92rem;
          }

          &:last-child {
            color: $white;
            font-size: 1.42rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
