.header{

  padding: 28px 0;
  position: relative;

  .header__logo{
    display: flex;
    img {
      position: absolute;
      top: 0;
      z-index: 5;
    }
    @include mobile {
      justify-content: center;
      img {
        max-width: 65px;
        margin-top: 10px;
      }
    }
  }

  .header__menu{
      margin-top: 15px;
      
      ul{
          display: flex;
          li{
              a{
                  display: block;
                  padding: 0 20px;
                  text-transform: uppercase;
              }
              @include mobile {
                padding: 10px;                
                &:first-child {
                  margin-top: 20px;
                }
              }
          }
          @include mobile {
            flex-direction: column;
          }
      }
      @include mobile {
        position: absolute;
        opacity: 0;
        z-index: 9;
        top: -19px;
        right: 0;
        background: #fff;
        width: 87%;
        height: 1046px;
        overflow: visible;
        transition: all 0.4s ease-in-out;
        box-shadow: -5px 1px 19px 2px;
      }
  }

  .header__hotline{
      display: flex;
      &::before{
          content: '';
          display: block;
          width: 31px;
          height: 31px;
          background: url('../images/phone-icon.png') no-repeat;
          margin-top: 10px;
          margin-right: 10px;
      }
      span{
          display: block;
          text-transform: uppercase;
          &:first-child{
              color: #767676;
              font-size: 0.92rem;
          }
          &:last-child{
              color: $primaryColor;
              font-size: 1.42rem;
              font-weight: bold;
          }
      }
      @include mobile {
        display: none;
      }
  }
  
  #toggle-menu, .header__search {
    display: none;
  }

  .header__toggle {
    display: none;
    label {
      font-size: 20px;
      background: transparent;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      padding: 5px 10px;
    }
  }


  #toggle-menu:checked ~ .header__menu {
    opacity: 1;
  }

  @include mobile {
    padding: 13px 15px;
    .header__toggle,
    .header__search {
      display: flex;
      align-items: center;
    }
    .header__search{
      justify-content: flex-end;
    }
  }

}